<div class="container-fluid">

  <h1 class="text-center">Listado de todos</h1>
  <div class="col text-center">
    <%= link_to "Añadir todo", new_todo_path, class: "btn btn-info colorWhite" %>
  </div>

  <div class="accordion" id="accordionSinCompletar">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Listado de todos sin completar
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% @todos.each do |todo| %>
            <% if !todo.completed %>
                <%= render todo %>
                <p>
                  <%= link_to "Editar", edit_todo_path(todo), class: "btn btn-primary" %>
                </p>
            <% end %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="accordion" id="accordionCompletados">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Listado de todos completados
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% @todos.each do |todo| %>
            <% if todo.completed %>
                <%= render todo %>
                <p>
                  <%= link_to "Editar", edit_todo_path(todo), class: "btn btn-primary" %>
                </p>
            <% end %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


